* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* common btn */
.common_btn {
  background-color: #1d4ed8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 2%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
}
nav a {
  text-decoration: none;
  color: #575757;
}
.hero_section{
    background-image: url(./assets/banner.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}
.hero_content{
    color: white;
    text-align: center;
}